html {
	background: #FFEEEE;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #DDEFBB, #FFEEEE);
	background: linear-gradient(to top, #DDEFBB, #FFEEEE);
	min-height: 100%;
}
#events {
	max-width: 720px;
	display: block;
	margin: 0 auto;
}
#events > li {
	padding: 0.5em;
	background: rgba(255, 255, 255, 0.4);
	list-style: none;
	border: solid thin;
	margin: 0.5em 0;
	box-shadow: rgba(50,50,0,0.3) 3px 3px;
	border-radius: 3px;
}
#events > li:before {
	content: "📣";
    padding: 5px;
}
#events > li.loading:before {
    content: "⏳";
}
#events > li[data-source ^= lucos_media]:before {
    content: "♫";
}
#events > li[data-source ^= lucos_deploy]:before {
    content: "🧩";
}
#events > li[data-source ^= lucos_dns]:before {
    content: "📡";
}
#events > li[data-source ^= lucos_lanscan]:before {
    content: "🌐";
}
#events > li[data-source ^= lucos_contacts]:before {
    content: "👪";
}

#events > li:after {
	vertical-align: super;
	font-size: 9px;
}
#events > li[data-webhookstatus = success]:after {
	content: "✓";
	color: #090;
	font-size: 12px;
}
#events > li[data-webhookstatus = failure]:after {
	content:  "❌";
	color: #f00;
}
#events > li[data-webhookstatus = pending]:after {
	content:  "⌛";
	color: #999;
}
#events .source {
	font-weight: bold;
	text-transform: capitalize;
}
#events .date {
	font-style: italic;
}