services:
  loganne:
    build: .
    container_name: loganne
    ports: 
      - $PORT:$PORT
      - "8119:8119"
    environment:
      - PORT
      - WEBSOCKET_PORT=8119
      - STATE_DIR=/var/lib/loganne
    image: lucas42/lucos_loganne
    volumes:
      - state:/var/lib/loganne
    restart: always

volumes:
  state:
