<!DOCTYPE html>
<html>
	<head>
		<title>Access Denied – Loganne</title>
		<link href="/style.css" rel="stylesheet">
		<link rel="icon" href="/icon" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes">
	</head>
	<body>
		<lucos-navbar aithne-origin="{{aithne_origin}}">Loganne</lucos-navbar>
		<h2>Access Denied</h2>
		<p>{{message}}</p>
		<script type='text/javascript' src='/client.js'></script>
	</body>
</html>
