<!DOCTYPE html>
<html>
	<head>
		<title>Loganne</title>
		<link href="/style.css" rel="stylesheet">
		<link rel="icon" href="/icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes">
	</head>
	<body>

		<lucos-navbar>Loganne</lucos-navbar>
		<ul id="events">
			{{^events}}
				<li class="loading">Still waiting for events to start logging.  Refresh soon…</li>
			{{/events}}
			{{#events}}
				{{> event}}
			{{/events}}
		</ul>
		<script type='text/javascript' src='/client.js'></script>
	</body>
</html>
