<!DOCTYPE html>
<html>
	<head>
		<title>Loganne</title>
		<link href="/view/style.css" rel="stylesheet">
		<link rel="icon" href="/view/icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes">
	</head>
	<body>

		<lucos-navbar>Loganne</lucos-navbar>
		<ul id="events">
			{{^events}}
				<li class="loading">Still waiting for events to start logging.  Refresh soon…</li>
			{{/events}}
			{{#events}}
			<li data-source="{{source}}" data-webhookstatus={{webhookStatus}}>
				<span class="source" title="{{source}}">{{prettySource}}</span>
				<span class="date" title="{{absDate}}">{{relDate}}</span>
				<span class="human"{{#webhookErrorMessage}}title="{{webhookErrorMessage}}"{{/webhookErrorMessage}}>{{humanReadable}}</span>
			</li>
			{{/events}}
		</ul>
		<script type='text/javascript' src='/view/lucos_navbar.js'></script>
	</body>
</html>
