<!DOCTYPE html>
<html>
	<head>
		<title>Loganne</title>
		<link href="/style.css" rel="stylesheet">
		<link rel="icon" href="/icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes">
	</head>
	<body>

		<div id="lucos_navbar">
			<a href="https://l42.eu/"><img src="https://l42.eu/logo.png" alt="lucOS" id="lucos_navbar_icon" /></a>
			<span id="lucos_navbar_title">Loganne</span>
		</div>
		<ul id="events">
			{{^events}}
				<li>⌛ Still waiting for events to start logging.  Refresh soon…</li>
			{{/events}}
			{{#events}}
			<li data-source="{{source}}">
				<span class="source" title="{{source}}">{{prettySource}}</span>
				<span class="date" title="{{absDate}}">{{relDate}}</span>
				<span class="human">{{humanReadable}}</span>
			</li>
			{{/events}}
		</ul>
	</body>
</html>
